<div class="post-recent">
    <div class="pre">
        {% assign pg = page.previous %}
        {% if pg and pg.hide == true %}
            {% assign pg = pg.previous %}
        {% endif %}

        {% if pg %}
            <p><strong>上一篇</strong> <a href="{{ pg.url | prepend: site.baseurl }}">{{ pg.title }}</a></p>
        {% endif %}
    </div>
    <div class="nex">
        {% assign pg = page.next %}
        {% if pg and pg.hide == true %}
        {% assign pg = pg.next %}
        {% endif %}
        
        {% if pg %}
        <p><strong>下一篇</strong> <a href="{{ pg.url | prepend: site.baseurl }}">{{ pg.title }}</a></p>
        {% endif %}
    </div>
</div>
